body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0d142c;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

#room-form {
  display: flex;
  flex-direction: column;
}

#room-form input[type="text"] {
  margin: 1rem 0 1.5rem 0;
  padding: 0.75rem;
}

#room-form input[type="submit"] {
  margin: auto;
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  background: rgb(2, 0, 36);
  color: #fff;
  background: linear-gradient(45deg, #68ffae 0%, #c1afff 35% 100%);
  cursor: pointer;
}

h1 {
  color: #68ffae;
  margin: 0rem;
}
.pong {
  color: #c1afff;
}
